.var-primary(@primary: #afb42b; @primary-weak: #c0ca33) {
    --primary        : @primary;
    --primary-70     : fade(@primary, 70%);
    --primary-50     : fade(@primary, 50%);
    --primary-30     : fade(@primary, 30%);
    --primary-weak   : @primary-weak;
    --primary-weak-50: fade(@primary-weak, 50%);
}

:root {
    .var-primary(#6062ce, #7a89df);

    --selection-bg-color: #1f2d3d;
    --selection-color   : #f1f1f1;

    &.dark {
        .var-primary(#6062ce, #7a89df);

        --selection-bg-color: #f1f1f1;
        --selection-color   : #1f2d3d;

        .trm-avatar {
            filter      : invert(0.9);
            border-color: transparent;
        }

        .trm-publication img,
        .trm-publication svg {
            filter: brightness(.7);
        }
    }
}

::selection {
    background: var(--selection-bg-color);
    color     : var(--selection-color);
}

.trm-top-bar {
    .container {
        .trm-left-side {

            .trm-logo-frame {
                width          : 100% !important;
                justify-content: center;

                img {
                    height: 70%;
                    width : auto !important;
                }
            }
        }
    }
}

@media(max-width:1200px) {
    .trm-logo-frame {
        img {
            display: none;
        }
    }
}

.trm-card .trm-icon {
    font-size: 26px !important;
}

.trm-mode-switcher-place .trm-mode-switcher svg {
    font-size: 14px;
}

@font-face {
    font-family : 'Raleway';
    font-style  : normal;
    font-display: swap;
    src         : url(/fonts/DTM-Mono-1.otf);
}

.trm-blog-card {
    .trm-cover-frame {
        background-color: var(--card-cover-bg-color, #f3f3f3);

        .trm-cover-date {
            font-family            : 'Raleway' !important;
            background-image       : linear-gradient(311deg, #421effd9, #60d139);
            background-clip        : text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}