@media (max-width: 750px) {
    .app {
        padding-bottom: 50px;

        >.header {
            height     : 56px;
            text-align : center;
            line-height: 56px;

            &::after {
                content    : '白云苍狗';
                color      : #e3e3e3;
                font-size  : 28px;
                font-family: cursive;
                font-weight: bold;
            }

            .header-name,
            .video-content,
            .header-content {
                display: none;
            }
        }

        .posts-expand {
            width : auto;
            margin: 20px;

            .post {
                position     : relative;
                padding      : 0;
                margin       : 0;
                border-radius: 0;
                box-shadow   : none;
                border-bottom: 1px solid #d6d6d6;
                min-height   : auto;

                .post-card {
                    height: auto;

                    .post-card-img {
                        display: none
                    }

                    .left,
                    .right {
                        width     : 100%;
                        position  : static;
                        text-align: left;

                        .post-push-time {
                            display: none;
                        }

                        .post-meta {
                            text-align: left;
                            margin    : 5px 5px 5px 0;

                            .post-push-time {
                                display: inline;
                                color  : #006493;
                            }
                        }

                        img {
                            max-height: 200px;
                        }
                    }

                    .select-more {
                        display: none;
                    }
                }
            }
        }

        .detial-header {
            height : auto;
            padding: 1em;

            .post-detial-title {
                width     : auto;
                position  : static;
                text-align: center;

                h2 {
                    font-size: 20px;
                    margin   : 0;

                    &::before {
                        display: none;
                    }
                }
            }

            .links-title {
                text-align: center;
                position  : static;
                font-size : 20px;
            }
        }

        .post-detial {
            padding: 10px 20px 0;
        }

        .frind-card,
        .category-card {
            position  : static;
            margin-top: 0;
            width     : auto;
        }

        .phone-menu {
            display: block;
        }
    }

    .back-top {
        display: none;
    }

    .post-detial {
        width : auto;
        margin: 0 1em;
    }
}