@charset "utf-8";

@import './_var/index.less';

@import './_com/index.less';
@import './_com/layout.less';
@import './_com/hithlight.less';
@import './_com/nprogress.less';
@import './_com/animate.less';
@import './_com/post.less';

/* 浮动按钮 */
.float-action-buttons {
    position: fixed;
    bottom  : 35px;
    right   : 20px;
    z-index : 1000;
    height  : -webkit-max-content;
    height  : -moz-max-content;
    height  : max-content;

    .btn {
        color             : var(--themeColor);
        background-color  : var(--darkBase, var(--white));
        width             : 42px;
        height            : 42px;
        display           : block;
        margin-top        : .5rem;
        border-radius     : 3px;
        border-style      : none;
        -webkit-transition: all var(--transitionTime);
        transition        : all var(--transitionTime);
        cursor            : pointer;
        position          : relative;
        outline           : none;

        i {
            font-size: 16px;
        }

        &:hover {
            color           : var(--white);
            background-color: var(--themeColor);
        }
    }

    .backtop {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        transform         : translateY(100%);
        -webkit-transition: all var(--transitionTime);
        transition        : all var(--transitionTime);
        pointer-events    : none;

        &.show {
            -webkit-transform: translateY(0);
            transform        : translateY(0);
            opacity          : 1;
            pointer-events   : all;
        }
    }

    #settingsPopup {
        position           : absolute;
        border-radius      : var(--radius);
        background         : var(--darkBase, var(--white));
        -webkit-transition : all var(--transitionTime);
        transition         : all var(--transitionTime);
        right              : 5px;
        bottom             : 10px;
        padding            : 10px 25px;
        width              : -webkit-max-content;
        width              : -moz-max-content;
        width              : max-content;
        -webkit-user-select: none;
        -moz-user-select   : none;
        -ms-user-select    : none;
        user-select        : none;

        .settings-item {
            margin : 1rem 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .settings-item-lable {
                -webkit-box-flex: 1;
                -ms-flex        : 1;
                flex            : 1;
                margin-right    : 20px;
            }
        }
    }
}

/* 列表 */
.links-card {
    padding: 0 30px;

    .post-header {
        min-height: 100px;
    }

    .links-list {

        .links-list-item {
            -webkit-transition: all var(--transitionTime);
            transition        : all var(--transitionTime);
            list-style        : none !important;
            position          : relative;
            padding           : 10px 0;
            margin            : 10px 0;
            border-radius     : 5px;

            >a {
                color            : var(--fontColor, #525f7f);
                display          : -webkit-box;
                display          : -ms-flexbox;
                display          : flex;
                -webkit-box-align: center;
                -ms-flex-align   : center;
                align-items      : center;
                overflow         : hidden;

                img {
                    width        : 60px;
                    height       : 60px;
                    margin       : 0 20px;
                    border-radius: 50%;
                }

                >div {
                    -webkit-box-flex: 1;
                    -ms-flex        : 1;
                    flex            : 1;

                    h3,
                    p {
                        margin: 0;
                    }
                }
            }

            &:hover {
                background-color: rgba(0, 137, 255, 0.08);
            }
        }
    }
}

/* 标签 */
.post-content-tag {
    margin-top       : 20px;
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    flex-wrap        : wrap;

    svg {
        margin-right: 5px;
        width       : 20px;
        height      : 20px;
    }

    span {
        color           : #fff;
        background-color: rgba(var(--themeColorRgb2), .8);
        display         : inline-block;
        margin          : 5px;
        padding         : 0 10px;
        border-radius   : 3px;
        line-height     : 20px;
    }
}