@charset "utf-8";

@import './_var/index.less';


/* 浮动按钮 */
.float-action-buttons {
    position: fixed;
    bottom  : 3em;
    right   : 2em;
    z-index : 1000;
    height  : -webkit-max-content;
    height  : -moz-max-content;
    height  : max-content;

    .btn {
        color             : var(--themeColor);
        background-color  : var(--darkBase, var(--white));
        width             : 42px;
        height            : 42px;
        display           : block;
        margin-top        : .5rem;
        border-radius     : 3px;
        border-style      : none;
        -webkit-transition: all var(--transitionTime);
        transition        : all var(--transitionTime);
        cursor            : pointer;
        position          : relative;
        outline           : none;

        i {
            font-size: 16px;
        }

        &:hover {
            color           : var(--white);
            background-color: var(--themeColor);
        }
    }

    .aside-menu {
        display: none;
    }

    .backtop {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        transform         : translateY(100%);
        -webkit-transition: all var(--transitionTime);
        transition        : all var(--transitionTime);
        pointer-events    : none;

        &.show {
            -webkit-transform: translateY(0);
            transform        : translateY(0);
            opacity          : 1;
            pointer-events   : all;
        }
    }

    #settingsPopup {
        position                : absolute;
        border-radius           : var(--radius);
        background              : var(--darkBase, var(--white));
        /*   -webkit-transition : all var(--transitionTime);
        transition              : all var(--transitionTime,.3s); */
        right                   : 5px;
        bottom                  : 10px;
        padding                 : 10px 25px;
        width                   : -webkit-max-content;
        width                   : -moz-max-content;
        width                   : max-content;
        -webkit-user-select     : none;
        -moz-user-select        : none;
        -ms-user-select         : none;
        user-select             : none;

        .settings-item {
            margin     : 1rem 0;
            display    : -webkit-box;
            display    : -ms-flexbox;
            display    : flex;
            align-items: center;

            .settings-item-lable {
                -webkit-box-flex: 1;
                -ms-flex        : 1;
                flex            : 1;
                min-width       : 5rem;
                margin-right    : 20px;
                font-weight     : bold;
                font-size       : 1.2rem;
            }
        }
    }

    #lightBtn {
        i:last-child {
            display: none;
        }
    }
}

.dark {
    #lightBtn {
        i:last-child {
            display: initial;
        }

        i:first-child {
            display: none;
        }
    }
}

/* 列表 */
.links-card {
    padding: 0 30px;

    .post-header {
        min-height: 100px;
    }

    .links-list {
        padding-bottom: 30px;

        .links-list-item {
            -webkit-transition: all var(--transitionTime);
            transition        : all var(--transitionTime);
            list-style        : none !important;
            position          : relative;
            padding           : 10px 0;
            border-radius     : 5px;

            >a {
                color            : var(--fontColor, #525f7f);
                display          : -webkit-box;
                display          : -ms-flexbox;
                display          : flex;
                -webkit-box-align: center;
                -ms-flex-align   : center;
                align-items      : center;
                overflow         : hidden;

                img {
                    width        : 60px;
                    height       : 60px;
                    margin       : 0 20px;
                    border-radius: 50%;
                    box-shadow   : none !important;
                }

                >div {
                    -webkit-box-flex: 1;
                    -ms-flex        : 1;
                    flex            : 1;

                    h3,
                    p {
                        margin: 0;
                    }
                }
            }

            &:hover {
                background-color: ~'rgba(var(--themeColorRgb), 0.05)';
            }
        }
    }
}

/* 标签 */
.post-content-tag {
    margin-top       : 20px;
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    flex-wrap        : wrap;

    svg {
        margin-right: 5px;
        width       : 20px;
        height      : 20px;
    }

    span {
        color           : #fff;
        background-color: rgba(var(--themeColorRgb2), .8);
        display         : inline-block;
        margin          : 5px;
        padding         : 0 10px;
        border-radius   : 3px;
        line-height     : 20px;
    }
}

/* 时间线 */
.timeline {
    position: relative;

    &::before {
        content   : " ";
        position  : absolute;
        height    : 100%;
        left      : 123px;
        width     : 4px;
        background: ~'rgba(var(--baseRgb), 0.2)';
    }

    .timeline-item {
        margin : 20px 0;
        display: flex;

        .timeline-time {
            position    : relative;
            margin-right: 50px;
            width       : 100px;
            font-size   : 16px;
            display     : inline-block;
            text-align  : right;
            height      : max-content;

            &.timeline-time-year {
                color    : var(--themeColor);
                font-size: 28px;
            }

            &::before {
                background   : var(--themeColor);
                content      : " ";
                position     : absolute;
                left         : 123px;
                top          : 50%;
                margin-left  : -5px;
                margin-top   : -7px;
                width        : 14px;
                height       : 14px;
                border-radius: 50%;
            }
        }

        .timeline-content {
            flex: 1;

            a {
                color    : var(--themeColor);
                font-size: 18px;
            }

        }
    }
}

/*  */
.category-all-page {
    padding-left: 42px;

    .category-title {
        font-size: 28px;
    }

    .category-link {
        display: inline-block;
        margin : 5px 10px;
    }

    .category-count {
        color: #bbb;

        &:before {
            display: inline;
            content: " (";
        }

        &:after {
            display: inline;
            content: ") ";
        }
    }
}

/* 文章导航 */
#post-toc {
    text-align: initial;

    ol {
        list-style : none;
        margin-left: 1em;

        &.toc {
            margin     : 10px 20px;
            padding-top: 20px;
            border-top : 1px dashed #525f7f;
        }

        a {
            color: var(--fontColor, #525f7f);

            &.current {
                color: var(--themeColor)
            }

            .toc-text {
                word-break: break-all;
            }
        }
    }
}

@import './_com/index.less';
@import './_com/layout.less';
@import './_com/hithlight.less';
@import './_com/nprogress.less';
@import './_com/animate.less';
@import './_com/post.less';
@import './_com/aplayer.less';