@charset "utf-8";

@import './_var/index.less';
@import './_com/hithlight.less';
@import './_com/index.less';

* {
    padding           : 0;
    margin            : 0;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}


[u-none] {
    visibility: hidden;
}

@media screen and (min-width:1700px) {
    body {
        --layoutContentMainMaxwidth: 1500px;
    }
}

html,
body {
    cursor     : url('/images/cursor.ico'), auto;
    font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
    font-size  : 14px;
    line-height: 2;
}

body {
    background-image     : var(--bgImgUrl);
    background-position  : center;
    background-size      : cover;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    color                : var(--fontColor, #525f7f);
    font-family          : var(--fontFamily);
    -webkit-transition   : background-image var(--transitionTime);
    transition           : background-image var(--transitionTime);

    &::after {
        content       : '';
        position      : fixed;
        left          : 0;
        top           : 0;
        right         : 0;
        bottom        : 0;
        height        : 100vh;
        width         : 100vw;
        background    : var(--filterColor, transparent);
        z-index       : 999999999;
        pointer-events: none;
    }
}


.shadow {
    -webkit-box-shadow: ~'0 0 var(--boxShadowBlur) 0 var(--boxShadowColor)';
    box-shadow        : ~'0 0 var(--boxShadowBlur) 0 var(--boxShadowColor)';
}

a {
    text-decoration: none;
    outline        : none;
    color          : var(--themeColor);
}

/****/
/****/

.layout-header {
    height            : var(--layoutHeaderHeight);
    -webkit-transition: background var(--transitionTime);
    transition        : background var(--transitionTime);
    position          : fixed;
    width             : 100%;
    z-index           : 10;
    background        : transparent;

    &.fixed {
        background: ~'rgba(var(--themeColorRgb2),0.8)';
    }

    .nav {
        width            : 100%;
        max-width        : var(--layoutContentMainMaxwidth);
        margin           : auto;
        display          : -webkit-box;
        display          : -ms-flexbox;
        display          : flex;
        height           : 100%;
        -webkit-box-align: center;
        -ms-flex-align   : center;
        align-items      : center;

        a {
            font-weight: 600;
            color      : #fff;
            margin     : 0 20px;
        }
    }
}

.layout-content {

    .layout-content-header {
        height: 42vh;

        .shape {
            position: absolute;
            z-index : -1;
            top     : 0;
            width   : 100%;
            height  : 100%;
            height  : 65vh;

            span {
                position     : absolute;
                width        : 120px;
                height       : 120px;
                border-radius: 50%;
            }

            :nth-child(1) {
                bottom    : auto;
                left      : -4%;
                background: rgba(255, 255, 255, .1);
            }

            :nth-child(2) {
                top       : 10%;
                right     : 4%;
                background: rgba(255, 255, 255, .1);
            }

            :nth-child(3) {
                top       : 280px;
                right     : 5.66666%;
                background: rgba(255, 255, 255, .3);
            }

            :nth-child(4) {
                top       : 320px;
                right     : 7%;
                background: rgba(255, 255, 255, .15);
            }

            :nth-child(5) {
                top       : 38%;
                right     : auto;
                left      : 1%;
                background: rgba(255, 255, 255, .05);
            }

            :nth-child(6) {
                top       : 44%;
                right     : auto;
                left      : 10%;
                width     : 200px;
                height    : 200px;
                background: rgba(255, 255, 255, .15);
            }

            :nth-child(7) {
                right     : 36%;
                bottom    : 50%;
                background: rgba(255, 255, 255, .04);
            }

            :nth-child(8) {
                right     : 2%;
                bottom    : 70px;
                background: rgba(255, 255, 255, .2);
            }

            :nth-child(9) {
                right     : 2%;
                bottom    : 1%;
                background: rgba(255, 255, 255, .1);
            }

            :nth-child(10) {
                right     : auto;
                bottom    : 1%;
                left      : 1%;
                background: rgba(255, 255, 255, .05);
            }
        }

        .banner {
            position  : absolute;
            left      : 0;
            right     : 0;
            margin-top: 20vh;
            text-align: center;

            .title-inner {
                font-size: 1.8rem;
                color    : #ddd;
            }

            .user-des {
                color      : #ddd;
                height     : 40px;
                font-size  : 16px;
                line-height: 30px;
                padding    : 5px 20px 5px 0px;
                margin-top : 20px;
                display    : inline-block;
                background : ~'rgba(var(--themeColorRgb2),0.08)';

                span {
                    display     : inline-block;
                    overflow    : hidden;
                    white-space : nowrap;
                    border-right: 2px solid;
                    position    : relative;
                    padding     : 0 1em;
                }

                @keyframes typing {
                    from {
                        width: 0;
                    }
                }

                @keyframes caret {
                    50% {
                        border-color: transparent;
                    }
                }
            }
        }

        &::before {
            content       : '';
            width         : 100%;
            position      : absolute;
            left          : 0;
            top           : 0;
            height        : 120px;
            background    : linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 35%, rgba(0, 0, 0, 0) 100%);
            display       : block;
            z-index       : -1;
            pointer-events: none;
        }
    }

    .layout-content-content {
        display         : -webkit-box;
        display         : -ms-flexbox;
        display         : flex;
        -webkit-box-pack: center;
        -ms-flex-pack   : center;
        justify-content : center;
        max-width       : var(--layoutContentMainMaxwidth);
        margin          : auto;


        .layout-content-aside {
            width  : var(--layoutContentAsideWidth);
            padding: 0 20px;

            .aside-nav-card {
                border-radius: var(--radius);
                overflow     : hidden;

                >header {
                    color                : var(--darkFontColor, #fff);
                    background           : var(--darkBase2, var(--themeColor));
                    -webkit-transition   : all var(--transitionTime);
                    transition           : all var(--transitionTime);
                    height               : 120px;
                    text-align           : center;
                    display              : -webkit-box;
                    display              : -ms-flexbox;
                    display              : flex;
                    -webkit-box-orient   : vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction   : column;
                    flex-direction       : column;
                    -webkit-box-pack     : center;
                    -ms-flex-pack        : center;
                    justify-content      : center;

                    p {
                        margin-top: 10px;
                    }
                }

                >ul {
                    background        : var(--darkBase, var(--white));
                    -webkit-transition: all var(--transitionTime);
                    transition        : all var(--transitionTime);
                    list-style        : none;
                    padding           : 10px 0;

                    li {
                        -webkit-transition : all var(--transitionTime);
                        transition         : all var(--transitionTime);
                        color              : var(--darkFontColor, #38b1d0) !important;
                        height             : 36px;
                        line-height        : 36px;
                        padding            : 0 10px;
                        cursor             : pointer;
                        font-size          : 14px;
                        display            : -webkit-box;
                        display            : -ms-flexbox;
                        display            : flex;
                        -webkit-box-align  : center;
                        -ms-flex-align     : center;
                        align-items        : center;
                        -webkit-user-select: none;
                        -moz-user-select   : none;
                        -ms-user-select    : none;
                        user-select        : none;

                        &:hover {
                            background-color: var(--darkAction, var(--action, #f1f1f1));
                        }

                        &.action {
                            background-color: var(--darkAction, var(--action, #f1f1f1));
                        }

                        .cg-icon {
                            font-size   : 22px;
                            font-weight : 700;
                            margin-right: 8px;
                        }
                    }
                }
            }

            .user-card {
                background        : var(--darkBase, var(--white));
                border-radius     : var(--radius);
                -webkit-transition: all var(--transitionTime);
                transition        : all var(--transitionTime);
                text-align        : center;
                position          : -webkit-sticky;
                position          : sticky;
                top               : calc(var(--layoutHeaderHeight) + 20px);
                margin-top        : 10px;
                padding           : 20px 0;

                .avatar {
                    width        : 35%;
                    border-radius: 50%;
                }

                .post-state {
                    display          : -webkit-box;
                    display          : -ms-flexbox;
                    display          : flex;
                    -webkit-box-pack : center;
                    -ms-flex-pack    : center;
                    justify-content  : center;
                    -webkit-box-align: center;
                    -ms-flex-align   : center;
                    align-items      : center;
                    margin           : 20px 10px;

                    >div {
                        display              : -webkit-box;
                        display              : -ms-flexbox;
                        display              : flex;
                        -webkit-box-orient   : vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction   : column;
                        flex-direction       : column;
                        width                : 60px;
                        font-size            : 14px;
                        position             : relative;

                        &+div::after {
                            content      : '';
                            height       : 20px;
                            width        : 4px;
                            background   : var(--darkBase2, var(--themeColor, #15bbf2));
                            position     : absolute;
                            top          : 0;
                            bottom       : 0;
                            margin       : auto;
                            border-radius: 2px;
                            left         : -2px;
                        }

                        .item-count {
                            font-size  : 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .layout-content-main {
            -webkit-box-flex: 1;
            -ms-flex        : 1;
            flex            : 1;
            padding         : 0 20px;
            overflow        : hidden;

            article {
                background        : var(--darkBase, var(--white));
                border-radius     : var(--radius);
                -webkit-transition: all var(--transitionTime);
                transition        : all var(--transitionTime);
                min-height        : 100px;
                margin-bottom     : 30px;
                overflow          : hidden;

                .post-header {
                    text-align: center;
                    position  : relative;
                    overflow  : hidden;
                    z-index   : 1;
                    min-height: 100px;

                    .post-container {
                        position: absolute;
                        bottom  : 10px;
                        width   : 100%;

                        .post-title {
                            color             : var(--themeColor);
                            -webkit-transition: all var(--transitionTime);
                            transition        : all var(--transitionTime);

                            &:hover {
                                letter-spacing: 1px;
                            }
                        }

                        .post-meta {
                            font-size: 14px;
                        }
                    }


                    .bg-img {
                        z-index       : -2;
                        width         : 100%;
                        min-height    : 250px;
                        max-height    : 25vh;
                        -o-object-fit : cover;
                        object-fit    : cover;
                        pointer-events: none;

                        &::before {
                            content   : '';
                            position  : absolute;
                            width     : 100%;
                            height    : 100%;
                            top       : 0;
                            left      : 0;
                            background: #000000b0;
                        }
                    }
                }

                .post-content {
                    padding    : 20px;
                    line-height: 1.8;
                }
            }
        }
    }
}

.layout-footer {
    background           : var(--footerColor, #125162);
    -webkit-transition   : all var(--transitionTime);
    transition           : all var(--transitionTime);
    color                : #90949e;
    height               : 100px;
    margin-top           : 200px;
    text-align           : center;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    -webkit-box-pack     : center;
    -ms-flex-pack        : center;
    justify-content      : center;
}


.float-action-buttons {
    position: fixed;
    bottom  : 35px;
    right   : 20px;
    z-index : 1000;
    height  : -webkit-max-content;
    height  : -moz-max-content;
    height  : max-content;

    .btn {
        color             : var(--themeColor);
        background-color  : var(--darkBase, var(--white));
        width             : 42px;
        height            : 42px;
        display           : block;
        margin-top        : .5rem;
        border-radius     : 3px;
        border-style      : none;
        -webkit-transition: all var(--transitionTime);
        transition        : all var(--transitionTime);
        cursor            : pointer;
        position          : relative;
        outline           : none;

        i {
            font-size: 16px;
        }

        &:hover {
            color           : var(--white);
            background-color: var(--themeColor);
        }
    }

    .backtop {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        transform         : translateY(100%);
        -webkit-transition: all var(--transitionTime);
        transition        : all var(--transitionTime);
        pointer-events    : none;

        &.show {
            -webkit-transform: translateY(0);
            transform        : translateY(0);
            opacity          : 1;
            pointer-events   : all;
        }
    }

    #settingsPopup {
        position           : absolute;
        border-radius      : var(--radius);
        background         : var(--darkBase, var(--white));
        -webkit-transition : all var(--transitionTime);
        transition         : all var(--transitionTime);
        right              : 5px;
        bottom             : 10px;
        padding            : 10px 25px;
        width              : -webkit-max-content;
        width              : -moz-max-content;
        width              : max-content;
        -webkit-user-select: none;
        -moz-user-select   : none;
        -ms-user-select    : none;
        user-select        : none;

        .settings-item {
            margin : 1rem 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .settings-item-lable {
                -webkit-box-flex: 1;
                -ms-flex        : 1;
                flex            : 1;
                margin-right    : 20px;
            }
        }
    }
}

.frind-card {
    .frind-card-item {
        position     : relative;
        padding      : 10px 0;
        margin       : 10px;
        transition   : all var(--transitionTime);
        border-radius: 5px;

        >a {
            display    : flex;
            align-items: center;
            overflow   : hidden;
            color      : var(--fontColor, #525f7f);

            img {
                width        : 60px;
                height       : 60px;
                margin       : 0 20px;
                border-radius: 50%;
            }

            >div {
                flex: 1;

                h3,
                p {
                    margin: 0;
                }
            }
        }

        &:hover {
            background-color: rgba(0, 137, 255, 0.08);
        }
    }
}