<%# 评论 %>
<% if(theme.cloudbase.enable) {%>
<com-comment env='<%- theme.cloudbase.env %>' hash='<%- page.hash %>'>
    <h2 slot="list-header">
        <i class="iconfont cg-comment" style="font-size: 20px;"></i>
    </h2>
</com-comment>
<% } %>