<header class="layout-header">
    <button type="button" class="header-menu-btn">
        <i class="iconfont cg-toggle"></i>
    </button>
    <nav class="nav">
        <% theme.menu.nav.forEach(item=>{%>
        <li>
             <a data-pjax <%= item.nopjax ?'target="_blank"':'class=_pjax' %> href="<%- item.url %>">
                <% if(item.icon) { %>
                    <i class="iconfont cg-<%- item.icon %>"></i>
                <%}%>
                <%- item.title %>
             </a>
        </li>
        <%})%>
    </nav>
</header>