<header class="layout-header">
    <nav class="nav">
        <% theme.menu.nav.forEach(item=>{%>
            <a data-pjax class="_pjax" href="<%- item.url %>">
                <% if(item.icon) { %>
                    <i class="iconfont cg-<%- item.icon %>"></i>
                <%}%>
                <%- item.title %>
            </a>
        <%})%>
    </nav>
</header>