<section id="posts" class="posts-expand">
    <% page.posts.each(function(post,postIndex){ %>
    <%- partial('./components/index-article',{ post }) %>
    <% }) %>
</section>

<div style="display: flex;justify-content: center;margin-top: 50px;">
    <div id="loader"></div>
</div>

<script type="text/javascript">
    window.IndexConfig = {
        current: parseInt('<%= page.current %>'),
        total: parseInt('<%= page.total %>'),
        url: "<%= url_for('/')%>",
        loadMore: false,
    }
</script>