.footer {
    width: 100%;
    color: #888;
    padding: 15px 0 10px;
    font-size: 12px;
    line-height: 1.5;
    position: absolute;
    bottom: 0;

    .footer-inner {
        text-align: center;
    }

    .with-love {
        display: inline-block;
        margin: 0 5px;
    }

    .powered-by,
    .theme-info {
        display: inline-block;
    }

    .cc-license {
        margin-top: 10px;
        text-align: center;

        .cc-opacity {
            opacity: 0.7;
            border-bottom: none;

            &:hover {
                opacity: 0.9;
            }
        }

        img {
            display: inline-block;
        }
    }

}