.phone-menu {
    display : none;
    color   : #000;
    position: fixed;
    bottom  : 20px;
    right   : 10px;
    z-index : 60;

    #phone-menu-btn {
        background   : #807a91;
        display      : inline-block;
        line-height  : 1;
        border-radius: 50%;
        box-shadow: 0 0 6px 0 #0000005c;

        .phone-menu-btn-svg {
            tap-highlight-color        : transparent;
            -webkit-tap-highlight-color: transparent;
            cursor                     : pointer;
            transition                 : transform 400ms;
            -moz-user-select           : none;
            user-select                : none;
            -ms-user-select            : none;
            user-select                : none;

            .line {
                fill          : none;
                transition    : stroke-dasharray 400ms, stroke-dashoffset 400ms;
                stroke        : rgb(255, 255, 255);
                stroke-width  : 5.5;
                stroke-linecap: round;
            }

            .top {
                stroke-dasharray: 40 139;
            }

            .bottom {
                stroke-dasharray: 40 180;
            }
        }

    }

    .phone-menu-list {
        position  : fixed;
        background: #FFEB3B;
        top       : 0;
        left      : 0;
        height    : 0;
        width     : 100%;
        opacity   : 0;
        z-index   : 99;
        transition: .5s;
        overflow  : hidden;

        ul {
            position  : absolute;
            transform : translateY(-50%);
            width     : 100%;
            top       : 50%;
            list-style: none;
            font-size : 16px;
            padding   : 0;

            li {
                text-align: center;

                a {
                    display                    : inline-block;
                    padding                    : 15px 0;
                    font-size                  : 24px;
                    font-family                : "Quicksand", sans-serif;
                    text-transform             : uppercase;
                    font-weight                : 700;
                    letter-spacing             : 1px;
                    color                      : inherit;
                    text-decoration            : none;
                    position                   : relative;
                    tap-highlight-color        : transparent;
                    -webkit-tap-highlight-color: transparent;

                    &.action:before,
                    &.action:after {
                        position        : absolute;
                        content         : "";
                        display         : block;
                        width           : 15px;
                        background-color: #252525;
                        border-color    : #252525;
                        opacity         : 1;
                        height          : 2px;
                        top             : 50%;
                    }

                    &.action:before {
                        left       : 0;
                        right      : auto;
                        margin-left: -20px;
                    }

                    &.action:after {
                        left        : auto;
                        right       : 0;
                        margin-right: -20px;
                    }
                }
            }
        }
    }
}