<!DOCTYPE html>
<html>
<%- partial('./components/head') %>

<body>
    <div class="app">
        <%- body %>
    </div>
    <%- partial('./components/footer') %>
    <%- partial('./components/script') %>
</body>

</html>