<div class="content-wrap">
    <div id="content" class="content">
        <section id="posts" class="posts-expand">
            <%- partial('./_partial/archive', {pagination: 2, index: true}) %>
        </section>
    </div>
</div>