<%- partial('_partial/header') %>
<main class="main">
    <% console.log(site.posts.data[0]) %>
</main>
<%- partial('_partial/footer') %>
<canvas id="canvasbg"></canvas>
<div class="back-to-top" id="back-to-top">
    <div></div>
</div>