<%# 首页 %>
<% if(is_home()) {%>
    <section id="posts" class="posts-expand">
        <%- partial('./_partial/archive', {pagination: 2, index: true}) %>
    </section>
<% if(page.prev!=null || page.next !=null){%>
    <nav class="pagination">
        <%- 
        paginator({
            prev_text: '上一页',
            next_text: '下一页',
            mid_size: 2
        })
        %>
    </nav>
    <% } %>
<% } %>

<!-- index.ejs -->