<!DOCTYPE html>
<%- partial('_partial/head') %>
<html>

    <body>
        <main class="container">
            <%- body %>
        </main>
    </body>
    <%- js(['./js/bg','./js/index']) %>

</html>