<%# 分类页面 %>
<%- partial('../components/detial-header', {post: page,title:'分类'}) %>
<div class="fadeInUp animated category-card">
    <h2>目前共计 <%- site.categories.length %> 个分类</h2>
    <%- list_categories() %>
</div>