* {
    padding: 0;
    margin : 0;
}

[u-none] {
    visibility: hidden;
}

@media screen and (min-width:1700px) {
    body {
        --layoutContentMainMaxwidth: 1500px;
    }
}

html,
body {
    cursor     : url('/images/cursor.ico'), auto;
    font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
    font-size  : 14px;
    line-height: 2;
}

body {
    background-image     : var(--bgImgUrl);
    background-position  : center;
    background-size      : cover;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    color                : var(--fontColor, #525f7f);
    font-family          : var(--fontFamily);
    -webkit-transition   : background-image var(--transitionTime);
    transition           : background-image var(--transitionTime);

    &::after {
        content       : '';
        position      : fixed;
        left          : 0;
        top           : 0;
        right         : 0;
        bottom        : 0;
        height        : 100vh;
        width         : 100vw;
        background    : var(--filterColor, transparent);
        z-index       : 999999999;
        pointer-events: none;
    }
}


.shadow {
    -webkit-box-shadow: ~'0 0 var(--boxShadowBlur) 0 var(--boxShadowColor)';
    box-shadow        : ~'0 0 var(--boxShadowBlur) 0 var(--boxShadowColor)';
}

a {
    text-decoration: none;
    outline        : none;
    color          : var(--themeColor);
}

/* 上下篇 */
.prev-next-content {
    -webkit-box-shadow: 0 0 var(--boxShadowBlur) 0 var(--boxShadowColor);
    box-shadow        : 0 0 var(--boxShadowBlur) 0 var(--boxShadowColor);
    background        : var(--darkBase, var(--white));
    border-radius     : var(--radius);
    padding           : 20px;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-pack  : justify;
    -ms-flex-pack     : justify;
    justify-content   : space-between;

    >div {
        -webkit-box-flex: 1;
        -ms-flex        : 1;
        flex            : 1;
        margin          : 0 20px;

        >div {
            font-size: 22px;

            i {
                font-size: 22px;
            }
        }

        +div {
            text-align: right;
        }

        >a {
            font-size: 16px;
        }
    }
}