article {
    #more {
        display: none;
    }

    p {
        margin     : 10px 2px 10px;
        font-size  : 1.05rem;
        line-height: 1.85rem;
    }

    img {
        max-width : 100%;
        height    : auto;
        cursor    : pointer;
        margin    : 1em 0;
        transition: all .3s;

        &:hover {
            box-shadow   : 0 0 20px 0 #2929291a;
            border-radius: 5px;
        }
    }

    video {
        display           : block;
        margin            : 30px auto;
        -webkit-box-shadow: 0 5px 35px 0 rgba(0, 0, 0, .2), 0 10px 35px -11px rgba(0, 0, 0, .6);
        box-shadow        : 0 5px 35px 0 rgba(0, 0, 0, .2), 0 10px 35px -11px rgba(0, 0, 0, .6);
        cursor            : pointer;
    }


    ol,
    ul {
        display     : block;
        word-spacing: 0.05rem;
        padding-left: 2em;

        li {
            display    : list-item;
            line-height: 1.8rem;
            font-size  : 1rem;
        }
    }

    ul li {
        list-style-type: disc;
    }

    ul ul li {
        list-style-type: circle;
    }

    blockquote {
        border-left                  : 5px solid var(--themeColor);
        background                   : ~'rgba(var(--themeColorRgb), 0.05)';
        padding                      : 1em;
        font-weight                  : 400;
        border-radius                : 5px;
        /*         -webkit-box-shadow: 0 0 2px 0 #00000045;
        box-shadow                   : 0 0 2px 0 #00000045; */

        p {
            text-indent: 0.2rem;
            margin     : 0;
        }
    }
}


/* 上下篇 */
.prev-next-content {
    -webkit-box-shadow: 0 0 var(--boxShadowBlur) 0 var(--boxShadowColor);
    box-shadow        : 0 0 var(--boxShadowBlur) 0 var(--boxShadowColor);
    background        : var(--darkBase, var(--white));
    border-radius     : var(--radius);
    padding           : 20px;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-pack  : justify;
    -ms-flex-pack     : justify;
    justify-content   : space-between;

    >div {
        -webkit-box-flex: 1;
        -ms-flex        : 1;
        flex            : 1;
        margin          : 0 20px;

        >div {
            font-size: 22px;

            i {
                font-size: 22px;
            }
        }

        +div {
            text-align: right;
        }

        >a {
            font-size: 16px;
        }
    }
}

.cg-icon {
    width         : 26px;
    height        : 26px;
    vertical-align: -0.15em;
    fill          : currentColor;
    overflow      : hidden;
}