<header class="header">
    <nav id="header-nav" class="header-nav">
        <ul class="menu">
            <li class="menu-item">
                <a>首页</a>
            </li>
            <li class="menu-item">
                分类
                <ul class="submenu">
                    <li class="submenu-item">JavaScript</li>
                    <li class="submenu-item">CSS</li>
                    <li class="submenu-item">Html</li>
                    <li class="submenu-item">小程序</li>
                </ul>
            </li>
            <li class="menu-item">投喂</li>
            <li class="menu-item">留言板</li>
            <li class="menu-item">归档</li>
        </ul>
    </nav>
    <div class="header-title">
        <span>Hello World !</span>
    </div>
    <div class="header-user">
        <img class="user-avatar" src="<%- url_for('imags/avatar.jpg') %>" />
        <div>
            <span>写代码是热爱，</span>
            <span>写到世界充满爱！</span>
        </div>
    </div>
</header>