<com-comment env='<%- theme.env %>' hash='<%- page.hash %>'>
    <h2 slot="list-header">
        <i class="iconfont cg-comment" style="font-size: 20px;"></i>
        留言板(功能完善中)
    </h2>
</com-comment>