<%# 评论 %>
<% if(theme.cloudbase.enable && page.hash) {%>
    <com-comment env='<%- theme.cloudbase.env %>' hash='<%- page.hash %>'>
        <h2 slot="list-header" class="comments-list-header">
            <svg class="cg-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="33282">
                <path d="M384 433.493333m42.666667 0l384 0q42.666667 0 42.666666 42.666667l0 256q0 42.666667-42.666666 42.666667l-384 0q-42.666667 0-42.666667-42.666667l0-256q0-42.666667 42.666667-42.666667Z" fill="#f8ca00" p-id="49346"></path>
                <path d="M789.333333 810.666667h-554.666666A106.666667 106.666667 0 0 1 128 704v-341.333333A106.666667 106.666667 0 0 1 234.666667 256h95.573333a10.666667 10.666667 0 0 0 6.826667-2.56l135.68-105.386667a62.72 62.72 0 0 1 78.506666 0l66.56 51.626667a21.333333 21.333333 0 0 1 3.84 29.866667 21.76 21.76 0 0 1-30.293333 3.84l-66.133333-51.626667a20.48 20.48 0 0 0-26.453334 0L363.093333 287.146667a51.626667 51.626667 0 0 1-32.853333 11.52H234.666667A64 64 0 0 0 170.666667 362.666667v341.333333A64 64 0 0 0 234.666667 768h554.666666a64 64 0 0 0 64-64v-341.333333A64 64 0 0 0 789.333333 298.666667h-75.093333a21.333333 21.333333 0 0 1 0-42.666667h75.093333A106.666667 106.666667 0 0 1 896 362.666667v341.333333a106.666667 106.666667 0 0 1-106.666667 106.666667z" fill="#333333" p-id="49347"></path>
                <path d="M490.666667 469.333333H341.333333a21.333333 21.333333 0 0 1 0-42.666666h149.333334a21.333333 21.333333 0 0 1 0 42.666666zM682.666667 640H341.333333a21.333333 21.333333 0 0 1 0-42.666667h341.333334a21.333333 21.333333 0 0 1 0 42.666667z" fill="#333333" p-id="49348"></path>
            </svg>
            <%- comtitle %>
        </h2>
    </com-comment>
<% } %>