<%# 评论 %>
<% if(theme.cloudbase.enable && page.hash) {%>
<com-comment env='<%- theme.cloudbase.env %>' hash='<%- page.hash %>'>
    <h2 slot="list-header">
        <svg class="cg-icon" aria-hidden="true">
            <use xlink:href="#cg-comment"></use>
        </svg>
        <%- comtitle %>
    </h2>
</com-comment>
<% } %>