<div id="light-switch-mark" class="light-switch-mark">
    <div id="light-switch-mark-point" class="light-switch-mark-point"></div>
</div>
<header class="layout-header">
    <ul class="nav">
        <% theme.menu.nav.forEach(item=>{%>
        <li>
             <a data-pjax <%= item.nopjax ?'target="_blank"':'class=_pjax' %> href="<%- item.url %>">
                <% if(item.icon) { %>
                    <i class="iconfont cg-<%- item.icon %>"></i>
                <%}%>
                <%- item.title %>
             </a>
        </li>
        <%})%>
        <li>
            <div id="lightSwitch" class="theme-toggle">
                <div class="theme-toggle-track" role="button" tabindex="-1">
                    <div class="theme-toggle-track-check">
                        <span class="toggle">🌜</span>
                    </div>
                    <div class="theme-toggle-track-x">
                        <span class="toggle">🌞</span>
                    </div>
                    <div class="theme-toggle-thumb"></div>
                </div>
                <input type="checkbox" class="theme-toggle-screenreader-only" aria-label="Switch between dark and light mode">
            </div>
        </li>
    </nav>
</header>