<% if(post.prev || post.next){ %>
    <div class="prev-next-content">
        <div class="btn-prev">
            <% if(post.prev){ %>
                <div>
                   <i class="iconfont cg-shangyige"></i> 
                   上一篇
                </div>
                <a class="_pjax" href="<%- url_for(post.prev.path) %>"><%- post.prev.title %></a>
            <%}%>
        </div>
        <div class="btn-next">
            <% if(post.next){ %>
                <div>
                    下一篇 
                    <i class="iconfont cg-xiayige"></i>
                </div>
                <a class="_pjax" href="<%- url_for(post.next.path) %>"><%- post.next.title %></a>
            <%}%>
        </div>
    </div>
<% } %>