<header style="height: 500px;background-image: url(http://www.pilicn.com/wp-content/themes/pili/images/n-bg00.jpg);background-position: bottom;">
    <div class="shinchou-menu" style="top: 200px;right: 50%; transform: translateX(50%);">
        <a>
          <%- post.title %>
        </a>
      </div>
</header>