<div style="    height: 50vh;background: url(https://w.wallhaven.cc/full/4y/wallhaven-4yy2zg.jpg);">

</div>
<div style="position: relative;">
    <div style="
    top: -200px;
    width: 750px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 13px 0 #00000036;">
        <%- post.content %>
    </div>
</div>