<article class="shadow links-card">
    <header class="post-header">
        <div class="post-container">
            <h2 class="post-title">
                <%= __('post.about') %>
            </h2>
        </div>
    </header>
    <%- post.content %>
</article>